[**Documentation**](../README.md)

***

[Documentation](../README.md) / Test\_results

# Class: Test\_results

Defined in: main.ts:239728

## Implements

- [`ITest_results`](../interfaces/ITest_results.md)

## Indexable

\[`key`: `string`\]: `any`

## Constructors

### new Test\_results()

> **new Test\_results**(`data`?): [`Test_results`](Test_results.md)

Defined in: main.ts:239732

#### Parameters

##### data?

[`ITest_results`](../interfaces/ITest_results.md)

#### Returns

[`Test_results`](Test_results.md)

## Methods

### init()

> **init**(`_data`?): `void`

Defined in: main.ts:239741

#### Parameters

##### \_data?

`any`

#### Returns

`void`

***

### toJSON()

> **toJSON**(`data`?): `any`

Defined in: main.ts:239757

#### Parameters

##### data?

`any`

#### Returns

`any`

***

### fromJS()

> `static` **fromJS**(`data`): [`Test_results`](Test_results.md)

Defined in: main.ts:239750

#### Parameters

##### data

`any`

#### Returns

[`Test_results`](Test_results.md)
