[**Documentation**](../README.md)

***

[Documentation](../README.md) / Test\_results

# Class: Test\_results

## Implements

- [`ITest_results`](../interfaces/ITest_results.md)

## Indexable

 \[`key`: `string`\]: `any`

## Constructors

### new Test\_results()

> **new Test\_results**(`data`?): [`Test_results`](Test_results.md)

#### Parameters

##### data?

[`ITest_results`](../interfaces/ITest_results.md)

#### Returns

[`Test_results`](Test_results.md)

#### Defined in

main.ts:239664

## Methods

### init()

> **init**(`_data`?): `void`

#### Parameters

##### \_data?

`any`

#### Returns

`void`

#### Defined in

main.ts:239673

***

### toJSON()

> **toJSON**(`data`?): `any`

#### Parameters

##### data?

`any`

#### Returns

`any`

#### Defined in

main.ts:239689

***

### fromJS()

> `static` **fromJS**(`data`): [`Test_results`](Test_results.md)

#### Parameters

##### data

`any`

#### Returns

[`Test_results`](Test_results.md)

#### Defined in

main.ts:239682
